<!-- Section - Hello World Hero component -->
<!-- <div class="hero-layer">
  <div class="hero-section">
    <div class="hero-section-text">
      <h1 id="hw">Hello World!</h1>
      <h5>You aren't ready for me.</h5>
    </div>
  </div>
</div> -->
<app-social-sticky></app-social-sticky>
<div id="whitespace1"></div>
<!-- Section - Who Am I? -->
<div class="row">
  <div class="small-5 columns">
    <img src="../../../assets/images/about-me-img.png">
  </div>
  <div class="small-7 columns">
    <h1 id="hw">Hello World!</h1>
    <h5>You aren't ready for me.</h5>
    <p>
      Allow me to introduce myself. My name is Christopher Bacani, you can just call me Chris. I enjoy... scratch that
      ... <span style="color: #ffdc18;font-weight:500 !important">thrive on</span> coding full-stack websites that are
      visually magnetizing to the viewer. I strive to find out new ways to create the best and most fluid websites and
      stay with the trends to find out how to code the most modern and aesthetically pleasing projects.
    </p>

    <p>
      I graduated from Ramapo College in 2013 with a Bachelor of Science in Business Administration and a specialization
      in Marketing, after which I did freelance and contract work for boutique marketing agencies. It was a lot of fun
      being able to do so - managing social media platforms for small businesses and cultural brands. In 2018, however,
      I decided it was time for a drastic change in the way I wanted my career to go so I made the bold (and
      terrifyingly brave) decision to change careers. I decided to make the move to Web Development because I was always
      astounded with the way web sites were made and how they can make one feel so at ease and comfortable just by the
      mere design and layout of it.
    </p>
  </div>
  <p>
    I attended Rutgers University School for Continuing Studies for a semester long bootcamp in Full-Stack Web
    Development. My goal there was simple, soak in all that I can about web development. And it went a step further, I
    fell absolutely in love with it. I knew right then and there that this is what I needed to do with my life. And I
    saw the benefits as two-fold. Not only do I now have a brand new skill set, an arsenal to create and maintain an
    aesthetically modern and pleasing full-stack web application but I can transfer this new found expertise to my
    experience and knowledge gained by working in Marketing to take my career to unseen heights.
  </p>

  <p>
    Since finishing from the Rutgers Coding Bootcamp, I worked as a Teacher's Assistant with Rutgers' partner education
    comapny, Trilogy Education and I worked as a Full-Stack Java Developer Intern with Revature in Reston, Virginia.
    Now, I'm on the hunt for the next big opportunity and am learning everything I can and soaking in all that I can in
    the process.
  </p>

  <!-- Section - Why Coding? -->
  <h2 class="bakit">Why Coding?</h2>
  <h3 id="quote">"YOU MUSTN'T BE AFRAID TO DREAM A LITTLE BIGGER, DARLING."</h3>
  <p>
    The real question is "why not?". I knew the bare minimum amount about coding before I decided to take some online
    classes with Udemy and Codecademy to test the waters. And it made me wonder why I didnt pursue this earlier. I have
    come to find that it is fun... even in the frustration of hitting a wall and being stuck in tutorial purgatory. It's
    technical art - being able to tweak a website by typing a few keystrokes into a computer and seeing your website
    come to life the way you want to is just a feeling I can't describe in words. It's thrilling the feeling that if you
    think something, you can make it a reality. I feel like Tony Stark whenever I successfully put a page together.
  </p>

  <!-- Section - When I'm not coding -->
  <h2 class="bakit">...when I'm not coding?</h2>
  <h3 id="quote">"DO SOMETHING TODAY THAT YOUR FUTURE SELF WILL THANK YOU FOR."</h3>
  <p>
    I am the kind of person that loves adventure. I enjoy hiking, surfing, snowboarding, exploring the beach, and just
    simply taking a walk to experience new things, see new sites, enjoy new tastes, hear new sounds. I love to travel -
    being able to experience new cultures and new foods. I have a long list of places that I want to see across Asia,
    Europe, and Latin America. Among those at the top of my list are Taipei, Thaliand, Costa Rica, Colombia, Italy, and
    England.
  </p>
  <p>
    On my days off, rarely will you hear me say "I just want a lazy day. I just want to stay in and do nothing". I enjoy
    getting out and being adventurous on my days off, even if it's just a small adventure to the mall, to the movies, or
    to get food. I definitely enjoy the trip to Six Flags so I can get my adrenaline fix. I enjoy making a day out of a
    visit to Manhattan, getting to experience a neighborhood that I previously haven't seen or taking in a Broadway show
    or a concert. I also love the fact that on the East Coast, there are so many cities that you can take day trips to.
    I enjoy the occasional day trip to Washington, D.C., Boston, Baltimore, and Rhode Island. Next stop on my day trip
    or weekend trip list has definitely got to be Toronto and Montreal.
  </p>

  <h2 class="bakit">What am I looking for?</h2>
  <p>
    The internship I had with Revature was life-changing, I got to challenge myself and learn new technologies to
    further my skill set. I want to continue this journey. I ideally would like to start this next chapter with a Junior
    level position in Front End or UI/UX Development or Full-Stack Development. I enjoy the creative side of coding but
    I also enjoy the technical side of it, working the back end to have the project wired the way I need it to be and
    setting up a database and maintaining it as the backbone of a full-stack project. Ultimately, what I want out of my
    next endeavor is I want to continue to learn, and grow, and better myself so that I may become the best programmer
    and person that I can be.
  </p>
  <p style="font-weight:500!important;color:#ffdc18">
    I am also available for temp and freelance web development work. To inquire, click on the contact button in the tab
    and drop a line!
  </p>
  <!-- Section - 5 Top 5's -->
  <!-- <h2 class="bakit">Just for fun... 5 Top 5's</h2> -->
</div>


<!-- 
  <div id="whitespace2"></div> -->