<nav class="top-bar topbar-responsive">
  <div class="top-bar-title">
    <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      <!-- <button class="menu-icon" type="button" data-toggle></button> -->
    </span>
    <a class="topbar-responsive-logo" id="chrislogo" routerLink="/"><img src="../../../assets/images/chrisbacanilogo.png"></a>
  </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right">
      <ul class="menu simple vertical medium-horizontal">
        <!-- <li><a href="#">H O M E</a></li> -->
        <li><a routerLink="about">A b o u t</a></li>
        <li><a routerLink="resume">R e s u m e</a></li>
        <li><a routerLink="works">W o r k s</a></li>
        <li><a routerLink="blog">B l o g</a></li>
        <!-- <li><a href="#">Contact</a></li> -->
        <li>
          <a routerLink="contact"><button type="button" class="button hollow topbar-responsive-button">C o n t a c t</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

