<div class="row">
    <h1 id="letstalk">Drop a line! Let's get a conversation going!</h1>

<app-social-sticky></app-social-sticky>

<video autoplay muted loop id="myVideo">
    <source src="https://chrisbacani-portfolio.s3.amazonaws.com/Double_Espresso.mp4" type="video/mp4">
  </video>

<!-- Insert buttons for LinkedIn, GitHub, Instagram here -->
<!-- <a href="#" class="social-icon-button twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a>



<a href="#" class="social-icon-button gplus"><i class="fa fa-google-plus" aria-hidden="true"></i></i><span></span></a> -->


<!-- Insert email form here -->
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"> -->

<form class="contact-us-form">
  <input type="text" placeholder="First Name">
  <input type="text" placeholder="Last Name">
  <input type="email" placeholder="Email">
  <textarea name="message" id="" rows="12" placeholder="Leave a message"></textarea>
  <div class="contact-us-form-actions">
    <input type="submit" class="button button-rounded-hover" value="Send it" />
  </div>
</form>



<!-- Insert About This page section here -->
 </div>
