<app-social-sticky></app-social-sticky>

<div class="portfolio-resume row">
    <!-- <div class="large-4 columns">
        <img class="portfolio-resume-headshot" src="../../../assets/images/headshot.png" alt="headshot">
        </div> -->

    <div class="portfolio-resume-wrapper-2">
        <h3 class="portfolio-resume-header">Profile</h3>
        <p>Results driven Full-Stack Developer with demonstrated experience combining creativity and usability
            viewpoints to design cross-functionally responsive web applications. Successfully optimizes user interface
            to create more visually fluid and engaging front-end layouts. Utilizes best practices to produce functional
            and readable back end programs. Thrives on creating compelling, high functioning user experiences and
            marketing solutions to improve brand loyalty, customer retention, and visit-to-order ratios.</p>
    </div>

    <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
            <!-- <img class="portfolio-resume-headshot" src="https://placehold.it/175" alt="headshot"> -->
            <h3 class="portfolio-resume-header">Skills</h3>
            <b>Front-End</b>
            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>CSS Libraries - Bootstrap, Materialize, Bulma, Foundation</li>
                <li>Single Page Application Frameworks - Angular 7/8, ReactJS, VueJS</li>
                <li>MongoDB</li>
                <li>MySQL/Oracle SQL</li>
            </ul>
            <b>Back-End</b>
            <ul>
                <li>Java 8</li>
                <li>MongoDB</li>
                <li>MySQL/Oracle SQL</li>
                <li>Node.js</li>
            </ul>
            <b>Misc.</b>
            <ul>
                <li>Amazon Web Services</li>
                <li>Version Control - Git, Jenkins, Heroku</li>
                <li>Adobe Creative Suite</li>
                <li>Marketing/Advertising</li>
            </ul>
        </div>
    </div>

    <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
            <h3 class="portfolio-resume-header">Experience</h3>
            <div class="portfolio-resume-spacing">
                <h5><strong>REVATURE • Reston, VA</strong></h5>
                <p>March 2019 - May 2019. Full-Time, Full-Stack Java Software Engineering Intern</p>  
            </div>
            <div class="portfolio-resume-spacing">
                <h5><strong>Trilogy Education Services • Someset, NJ</strong></h5>
                <p>June 2018 - February 2019. Full-Stack Web Development Bootcamp Teaching Assistant</p>
            </div>

            <h3 class="portfolio-resume-header">Certifications</h3>
            <div class="portfolio-resume-spacing">
                <h5><strong>Oracle Certified Associate - Java EE 8</strong></h5>
                <p>In progress. Anticipated Completion - October/November 2019</p>  
            </div>
        </div>
    </div>

    <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
            <h3 class="portfolio-resume-header">Education</h3>
            <h5><strong>Rutgers University, New Brunswick (2018)</strong></h5>
            <p>School of Continuing Studies, Full-Time Immersive Full-Stack Software Development Intensive</p>
            <br>
            <h5><strong>Ramapo College of New Jersey (2009 - 2013)</strong></h5>
            <p>Bachelor of Science in Business Administration, Concentration - Marketing/Advertising</p> 

            <h3 class="portfolio-resume-header">Resume</h3>
            <div class="portfolio-resume-spacing">
                <p> <b>Dropbox Download</b> (Latest version as of October 2019) :</p>  
                <!-- use a tag for links to other locations -->
                <a class="button button-rounded-hover" href="https://www.dropbox.com/s/9n6qes6fh41gisd/Christopher%20Bacani%20-%20Resume%20-%20Oct%202019.pdf?dl=0" target="blank">Download (PDF)</a>
                <a class="button button-rounded-hover" href="https://www.dropbox.com/s/t3jf5bfypn3idg2/Christopher%20Bacani%20-%20Resume%20-%20Oct%202019.docx?dl=0" target="blank">Download (WORD)</a>
            </div>
        </div>
    </div>
</div>