@import '../../../assets/css/Foundationmin/css/foundation.css';
/* @import '../../../assets/css/Foundationmin/css/foundation.min.css'; */


.work-feature-block {
  padding: 10px 0;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  background: #00000086;
  color: white;
  
}

.work-feature-block-image {
  display: inline-block;
  margin: auto;
  padding: 10px 0;
  /* background: #00000075; */
  color: white;
}

.work-feature-block-header{
  font-weight: 500;
  color: #ffdc18;
}

h2{
  font-weight: 300;
  color: rgb(185, 185, 185);
}

*{
  font-weight: 300;
}

#whitespace{
  height: 40px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

 /* DOWNLOAD BUTTON CSS */

 .button-rounded-hover {
  border: 0;
  border-radius: 5000px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  background-color: #ffdc18;
  color: black;
}

.button-rounded-hover:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #fefefe;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #c0a300;
  content: '';
  border-radius: inherit;
  color: #3d3c36;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
  background-color: #ffdc18;
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 0.25;
}